{% for answer in question.answers %}
    <div class="answer">
        <label class="container">
            <input type="checkbox">
            <span class="answerText">
                {{ answer.text }}
            </span>
        </label>
    </div>
{% endfor %}

