{% extends 'base.html.twig' %}

{% block content %}
        <h1>Викторина - это очень полезно!</h1>
        <p>
            Викторина – это игра, в основе которой заложен принцип нахождения правильных ответов на вопросы.
            Обычно проводится она в форме состязания или конкурса, в ходе которого подсчитываются очки и определяется победитель.
        </p>
        <br>
        <h1>Зачем проводится викторина?</h1>
        <p> Исходя из того, что викторина – это игра, делаем вывод: её проводят для развлечения.
            Она с успехом может проводиться как на детских и юношеских мероприятиях, так и в семейном или дружеском кругу среди разновозрастных участников.
        </p>
        <p>
            Викторина – это занятие, когда ведущий задаёт вопросы, а участники ищут ответы.
            Следовательно, мероприятие это помогает расширять кругозор, систематизировать знания.
            Отсюда вывод: игра-викторина выполняет обучающую, развивающую и познавательную функции.
        </p>
        <p>
            Во время проведения такого рода конкурсов ведётся подсчёт очков и выявляются победители.
            Часто выигравшим вручаются призы. Поэтому можно сказать, что викторина стимулирует к познанию,
            развивает интерес к предмету, который является темой вопросов.
        </p>
{% endblock %}
