{% extends 'base.html.twig' %}

{% block title %}Вопрос{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('form') }}
 {% endblock %}

{% block content %}
<table class="tableForm">
    {% for quiz in quizs %}
        <h1>{{quiz.name}}</h1>
    {% endfor %}
    {% include 'question/inputQuestionAndAnswers.html.twig' %}
</table>
{% endblock %}
