{% extends 'base.html.twig' %}

{% block title %}Редактирование{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block content %}
<div class="log">
    <h1>Редактирование</h1>
    <table class="tableForm">
        <tr>
            <td>
                <a href="{{ path('create-quiz') }}">Добавление новых викторин</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('create-questions') }}">Добавление новых вопросов</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
